sitem-upe-diagrama_casos_uso.asta.lock
sitem-upe.asta.lock
/documentacao_casos_uso/PDF/
Paulo_Geraldo_APS.docx.old
Doc_Regra_Negocio.docx
Doc_Visao.docx
plantuml.jar
narracao_prototipo.mp3
video_narracao
.~lock.Paulo_Geraldo_especificao_requisitos.docx#
.~lock.Paulo_Geraldo_projeto_arquitetural.docx#


